#header {
  margin-top: 1.5rem;
}

#navList {
  font-family: "Raleway", sans-serif;
}

.nav-item {
  font-weight: 600;
  font-size: 26px;
  font-style: italic;
}

.nav-item a {
  color: red;
}

.logo {
  height: 16rem;
  width: 30rem;
}
